# dependencies
/node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.pem

# Metro
.metro/
.metro-health-check*

# Debug logs
npm-debug.*

# macOS
.DS_Store

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Jest
/coverage/

# Misc
*.log
*.tmp
*.tmp.*
*.swp
*.swo
*.swn

# IDE / Editor
.vscode/
.idea/
*.iml

# Keystore files (if not included in the above)
**/keystore.properties

# Production builds
/android/app/src/main/assets/*
!/android/app/src/main/assets/shell-app.bundle
!/android/app/src/main/assets/shell-app-manifest.json
/ios/build/
/android/build/
/android/app/build/
